101 ICON DISCARDABLE "MiniPanzer.ico"
102 ICON DISCARDABLE "PDF_MEDIUM.ico"
103 ICON DISCARDABLE "WORD_MEDIUM.ico"
104 ICON DISCARDABLE "EXCEL_MEDIUM.ico"
105 ICON DISCARDABLE "IEXPLORER_MEDIUM.ico"
106 ICON DISCARDABLE "PPT_MEDIUM.ico"
107 ICON DISCARDABLE "JPEG_MEDIUM.ico"
108 ICON DISCARDABLE "WINZIP_MEDIUM.ico"
